.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  width: 80%;
  margin: 70px auto 0;
  gap: 12px;
}

/* background-color:rgb(121, 193, 235); 
   font-style:oblique;
   font-weight: 700;
   font-size: 1.58rem;
   text-transform:capitalize; */
