.cart__wrapper {
    position: fixed;
    top: 60px;
    right: 20px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid rgb(57, 128, 182);
    padding: 10px;
    z-index: 10;
  }
  
  .cart__innerWrapper {
    height: max-content;
    max-height: 50vh;
    overflow-y: auto;
  }
  
  .Cart__cartTotal {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .closeButton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .bi-x-circle {
    color: gray;
    transition: transform 0.2s linear;
    position:align-right;
    display: flex;
    align-items: flex-end;
    
  }
  
  .bi-x-circle:hover {
    transform: rotate(90deg);
  
  }