.nav {

  background-color:rgb(121, 193, 235); 
    font-style:oblique;
  font-weight: 700;
  font-size: 1.58rem;
  text-transform: capitalize;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: rgb(121, 193, 235);
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav__left {
  flex: 1;
}

.nav__middle {
  color: gray;

  flex: 1;
}

.input__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 10px;
  background-color: white;
}

.input__wrapper input {
  width: 100%;
  padding: 0 10px;
  border: none;
  display: block;
}

.input__wrapper input:focus,
input:active {
  outline: none;
}

.nav__right {
  flex: 1;
}

.cart__icon {
  
  position: relative;
  width: max-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cart__icon i {
  cursor: pointer;
}

.item__count {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: red;
  z-index: 10;
  border-radius: 50%;
  font-size: 12px;
  height: 14px;
  width: 14px;
  top: -50%;
  right: -50%; 
}

/* .navBar {
    background-color:rgb(121, 193, 235); 
    font-style:oblique;
    font-weight: 700;
    font-size: 1.58rem;
    text-transform:capitalize;
   
 }
 
 .card_button {
   width: 3rem;
   height: 3rem;
   position: relative;
   background-color: rgb(0, 255, 98);
 } 
 .div_card_button {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   width: 1.5rem;
   height: 1.5rem;
   position: absolute;
   bottom: 0;
   right: 0;
   transform: translate(25%, 25%);
   background-color: rgb(238, 27, 27);
  
 } 
 .item__count {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: red;
  z-index: 10;
  border-radius: 50%;
  font-size: 10px;
  height: 14px;
  width: 14px;
  top: -50%;
  right: -50%;
  color:white;
}  */
