.productCard__wrapper {
  width: 30%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 12px;
  margin: auto;
  word-wrap: break-word;
}

.productCard__img {
  object-fit: cover;
  flex-shrink: 1;
  width: 100%;
  height: 281px;
  margin-bottom: 20px;
}


.ProductCard__price {
  margin: 20px 0;
 
}

.ProductCard__button {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 25px;
  background-color:rgb(68, 140, 200);
  border: none;
  transition: all 0.2s ease-in;
 font-size: 1.28rem;
}

.ProductCard__button:hover {
  color: white;
  background-color: rgb(68, 140, 200);
  transform: translate(2px, -2px);
}

.ProductCard__button:focus,
.ProductCard__button:active {
  outline: none;
}

@media screen and (max-width: 1147px) {
  .productCard__wrapper {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .productCard__wrapper {
    width: 90%;
  }
}
